src/examples/flows/activemq-classic/jms_consume_activemq_classic.yaml
id: jms_consume_activemq_classic
namespace: io.kestra.examples

description: |
  Consume messages from an ActiveMQ Classic queue using JMS.

  ActiveMQ Classic is the legacy 5.x version of ActiveMQ, different from ActiveMQ Artemis.

  Prerequisites:
  - Build: ./gradlew build -x test
  - Start: docker-compose -f src/examples/docker/docker-compose-activemq-classic.yml up
  - Send messages first using jms_produce_activemq_classic.yaml

tasks:
  - id: consume_messages
    type: io.kestra.plugin.jms.Consume
    connectionFactoryConfig:
      type: DIRECT
      connectionFactoryClass: org.apache.activemq.ActiveMQConnectionFactory
      connectionProperties:
        brokerURL: tcp://activemq-classic:61616
        userName: admin
        password: admin
    destination:
      destinationName: kestra.example.queue
      destinationType: QUEUE
    maxMessages: 10
    maxWaitTimeout: 5000
    serdeType: STRING

  - id: log_result
    type: io.kestra.plugin.core.log.Log
    message: "Consumed {{ outputs.consume_messages.count }} message(s) from ActiveMQ Classic"
